{"http_interactions":[{"request":{"method":"get","uri":"https://gitlab.com/api/v3/projects/92029/hooks","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Status":["200 OK"], "Link":["<https://gitlab.com/api/v3/projects/92029/hooks?page=1&per_page=0>; rel=\"first\", <https://gitlab.com/api/v3/projects/92029/hooks?page=0&per_page=0>; rel=\"last\""], "Etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 11:40:19 GMT"}],"recorded_with":"VCR 2.9.3"}