{"http_interactions":[{"request":{"method":"head","uri":"https://gitlab.com/api/v3/projects?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Status":["200 OK"], "Link":["<https://gitlab.com/api/v3/projects?page=1&per_page=0>; rel=\"first\", <https://gitlab.com/api/v3/projects?page=1&per_page=0>; rel=\"last\""]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 22 Sep 2014 16:58:46 GMT"}],"recorded_with":"VCR 2.9.3"}