{"http_interactions":[{"request":{"method":"get","uri":"https://gitlab.com/api/v3/projects/92029/member/1","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["500 Internal Server Error"]},"body":{"encoding":"UTF-8","base64_string":"eyJzdGF0dXMiOiI1MDAiLCJlcnJvciI6IkludGVybmFsIFNlcnZlciBFcnJv\nciJ9\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 10:45:22 GMT"}],"recorded_with":"VCR 2.9.3"}