{"http_interactions":[{"request":{"method":"get","uri":"https://gitlab.com/api/v3/projects/all","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["application/json"], "Status":["403 Forbidden"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiNDAzIEZvcmJpZGRlbiJ9\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 11:39:54 GMT"}],"recorded_with":"VCR 2.9.3"}