{"http_interactions":[{"request":{"method":"delete","uri":"https://gitlab.com/api/v3/projects/92029/members/1","body":{"encoding":"UTF-8","base64_string":"e30=\n"},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "Status":["200 OK"], "Etag":["\"5501ff393df04a3d2ba34faf6022a7f7\""]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQWNjZXNzIHJldm9rZWQiLCJpZCI6MX0=\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 10:45:32 GMT"}],"recorded_with":"VCR 2.9.3"}