{"http_interactions":[{"request":{"method":"post","uri":"https://gitlab.com/api/v3/projects/92029/members","body":{"encoding":"UTF-8","base64_string":"eyJhY2Nlc3NfbGV2ZWwiOjEsInVzZXJfaWQiOjF9\n"},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":422,"message":"Unprocessable Entity"},"headers":{"Content-Type":["application/json"], "Status":["422 Unprocessable Entity"]},"body":{"encoding":"UTF-8","base64_string":"eyJlcnJvciI6WyJpcyBub3QgaW5jbHVkZWQgaW4gdGhlIGxpc3QiXX0=\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 10:45:25 GMT"}],"recorded_with":"VCR 2.9.3"}