{"http_interactions":[{"request":{"method":"put","uri":"https://gitlab.com/api/v3/projects/92029/members/1","body":{"encoding":"UTF-8","base64_string":"eyJhY2Nlc3NfbGV2ZWwiOjF9\n"},"headers":{"Content-Type":["application/json"], "Private-Token":["6FpzmcU5A1FXgTWMXyMA"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiNDA0IFVzZXIgY2FuIG5vdCBiZSBmb3VuZCBOb3QgRm91\nbmQifQ==\n"},"http_version":null},"recorded_at":"Wed, 24 Sep 2014 10:45:29 GMT"}],"recorded_with":"VCR 2.9.3"}